.App {
  text-align: center;
  background-color: #050505;
  height: 100%;
  min-height: 100vh;
  position: relative;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.shoe-list{
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  flex-wrap: wrap;
  gap: 25px;
}
.shoes-list-title{
  margin: 25px 0;
  font-size: 50px;
}

.Add-Shoes {
  display: flex;
  /* align-items: center; */
  padding-top: 50px;
  justify-content: center;
  height: 100%;
  min-height:calc(100vh - 70px);
}

.Home {
  padding-top: 50px;
}
.Home h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.Home h2 {
  font-size: 35px;
  margin-top: 20px;
}

.Home img {
  width : 410px;
  max-width: 98%;
}