.card {
    height: 400px;
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    color: #490348;
    border-radius: 15px;
    box-shadow: 0px 2px 3px -1px rgba(239, 239, 239, 0.96);
}

.card-img {
    width: 100%;
    height: 50%;
    border-top-right-radius:15px ;
    border-top-left-radius:15px ;
}

.smaller-btn {
    transform: scale(.8);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.remove-btn {
    background-color: rgb(241, 114, 114);
}

.edit-btn {
    background-color: rgb(240, 164, 238);
}

.card-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

}

.bottom-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}